<!DOCTYPE html>
<html>
<head>
	<title>PULWAMA ATTACK</title>
	<link rel="stylesheet" type="text/css" href="tri.css">
	<link href="https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@1,700&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Noticia+Text:ital,wght@1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="first">
<img src="https://im.rediff.com/news/2019/feb/pulwama.jpg">
</div>
<div class="one">
	<p>On 14 February 2019, a convoy of vehicles carrying security personnel on the Jammu Srinagar National Highway was attacked by a vehicle-borne suicide bomber at Lethpora (near Awantipora) in the Pulwama district, Jammu and Kashmir, India. The attack resulted in the deaths of 40 Central Reserve Police Force (CRPF) personnel and the attacker. The responsibility for the attack was claimed by the Pakistan-based Islamist militant group Jaish-e-Mohammed. The attacker was Adil Ahmad Dar, a local from Pulwama district, and a member of Jaish-e-Mohammed. India has blamed Pakistan for the attack. Pakistan condemned the attack and denied any connection to it.<n><p>Friday, February 14 marks 1st anniversary of gruesome Pulwama terror attack that killed 40 CRPF jawans. A group of vehicles carrying security personnel on the Jammu Srinagar National Highway was attacked by a suicide bomber at Lethpora in the Pulwama district, Jammu and Kashmir. The attack resulted in the death of 40 Central Reserve Police Force (CRPF) jawans.</n></p>
</div>
<section class="slideshow">
	<div class="content">
		<div class="content-carrousel">
		 <figure class="shadow"><img src="https://bestanimations.com/HomeOffice/Lights/Candles/candle-animated-gif-1.gif"></figure>
         <figure class="shadow"><img src="https://s01.sgp1.cdn.digitaloceanspaces.com/article/113059-yzpstdrwyp-1550154353.jpg"></figure>
         <figure class="shadow"><img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/8AAB/production/_105699453_mediaitem105699451.jpg"></figure>
         <figure class="shadow"><img src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/martyrs-pulwama-attack_660x450_021619053315.jpg"></figure>
         <figure class="shadow"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT2xU_qszIQOPGxJPjuvIuUsWbUTfs_PGT0nlvg0st9WeT5lwbW&usqp=CAU"></figure>
         <figure class="shadow"><img src="https://4.bp.blogspot.com/-ViSHG-BQ2zE/XGfhZWJP8VI/AAAAAAAACEQ/mJyCgr_bDPUbP7geAUAeww0yKE0Gi-w-QCLcBGAs/s1600/1550197928-pulwama_attack.jpg"></figure>
         <figure class="shadow"><img src="https://whatsappstatusline.com/wp-content/uploads/2020/02/4cdf55fbdef7928608a8faf8633276e7.jpg"></figure>
         <figure class="shadow"><img src="https://images.financialexpress.com/2019/02/1-52.jpg"></figure>
         <figure class="shadow"><img src="https://s01.sgp1.digitaloceanspaces.com/inline/913604-iavfiplyoy-1550412276.jpg"></figure>
         <figure class="shadow"><img src="https://akm-img-a-in.tosshub.com/indiatoday/pulwama-story-647_010218021541_1.jpg?DqQpBn40bHJui_WI6GDhJW7xSDimwxa."></figure>
     </div>
 </div>
</section>
		 <div class="container">
  <img src="https://giffiles.alphacoders.com/150/150764.gif"  style="width:100%;">
  <div class="content"> 
  	<h1>TRIBUTE FOR CRPF JAWANS WHO MARTYED IN PULWAMA ATTACK!!</h1>
	<h2>Together let us honour those who put nations before self...</n>Contribute to the famlies of those who made supreme sacrifice.</h2>
	<h3>JAI HIND!!</h3>
	
</div>
</div>
<script type="text/javascript" src="tri.js"></script>
</body>
</html>